
.header {
    background-color: white;
    height: 80px;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    min-width: 900px;
    max-width: 1920px;
}

.logo {
    margin-top: 28px;
    margin-left: 177px;
}

.menubar{
    width: 900px;
    height: 20px;
}

ul.menu {
    float: right;
    margin-right: 118px;
    margin-top: 10px;
}

ul.menu  li{
    float: left;
    padding: 0 0 0 15px;
    list-style: none;
    margin: 1px 2px 0 0;
}


ul.menu  li Link{
    font-family: Hind, sans-serif;
    display: block;
    height: 11px;
    font-size: 15px;
    padding: 6px 5px 5px 5px;
    color: #000000;
    font-weight: bolder ;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

ul.menu  li.selected Link{
    padding-bottom: 10px;
    border-bottom: solid 2px #ff5a06;
}

ul.menu li Link:hover{
    color: #e3ec04;
}